# Ignore node modules
/webApp/node_modules/

# Vite build output
/webApp/dist/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# VS Code settings (optional)
.vscode/

# IDE files (JetBrains, Eclipse, etc.)
.idea/

# npm lock file (optional if using yarn)
/webApp/yarn.lock

# Arduino build files
*.elf
*.hex
*.bin
*.map
*.eep
*.d
*.o

# Misc
webApp/.parcel-cache/
